* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #fff;
  height: 100%;
  width: 100%;
}

html {
  font-size: 14px;
}

body {
  font: 300 1rem/1.2 BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}

.code,
.tt,
code,
tt {
  font-family: Consolas, Courier New, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
  color: #0c99d5;
  text-decoration: none;
  transition: .1s all ease-in-out;
}

ul {
  list-style: none;
}

.bullets {
  list-style: disc;
}

.c:before,
.c:after {
  content: "";
  display: table;
}

.c:after {
  clear: both;
}

.hidden-text {
  display: block;
  text-indent: -9999px;
}

.slogan {
  color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: .5px .5px 0 #eee;
}

.slogan-secondary {
  letter-spacing: .05em;
}

[data-section~="nav"] h1 {
  margin: 0;
}

[data-section~="oss"] [data-slug] a {
  background-color: #fff;
  background-size: 2.5rem auto;
  background-size: calc(1.6rem + .5vw + .25vh) auto;
  background-position: 100% 0;
  background-position: calc(100% - 1rem) calc(0% + 1rem);
  background-repeat: no-repeat;
  color: #333;
  display: block;
  font-weight: bold;
  min-width: 14rem;
  outline-width: 0 !important;
  opacity: .9;
  text-decoration: none;
  width: 100%;
}

.lh-copy li {
  vertical-align: middle;
}

[data-section~="oss"] [data-slug="a-frame"] a {
  background-image: url(../img/aframe-sticker-diecut.svg);
  background-color: #ef2d5e;
  color: #fee;
}

[data-section~="oss"] [data-slug="firefox"] a {
  background-image: url(../img/firefox.png);
  background-color: #0095dd;
  color: #def;
}

[data-section~="oss"] [data-slug="servo"] a {
  background-image: url(../img/servo.png);
  background-color: #fed;
  color: #630;
}

[data-section~="oss"] ul a:hover {
  opacity: 1;
}

.logo {
  display: inline-block;
  position: relative;
}

.mozilla-wordmark {
  background: url(../img/logo-mozilla-white.svg) 1rem 50% no-repeat;
  background-size: 80px auto;
  width: 92px;
  width: calc(92px + .75rem);
  text-indent: -9999px;
}

.mozillavr-logo {
  background: url(../img/mozillavr-icon.svg) 0 50% no-repeat;
  background-size: 37px auto;
  text-indent: -9999px;
}

.about-mozillavr {
  border-right-width: 1px;
}

.vr {
  color: #008b8b;
}

.hover-cyan:focus,
.hover-cyan:hover {
  color: cyan;
}

.about-copy {
  font-size: 0;  /* For `display: inline-block` spacing. */
}

.aframe-header {
  background-color: #ef2d5e;
}

.aframe-wordmark {
  color: #fff;
  /*text-indent: 30px;*/
  text-shadow: .5px .5px 0 rgba(0,0,0,.5);
  /*padding-left: .5rem;*/
  position: relative;
}

.aframe-wordmark:before {
  background: url(../img/aframe-sticker-diecut.svg) no-repeat;
  background-size: 28px auto;
  content: "";
  display: inline-block;
  height: 30px;
  padding-right: .125ch;
  position: relative;
  top: 4px;
  vertical-align: middle;
  width: 30px;
}

.oss-project-description {
  max-width: 22rem;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .aframe-wordmark:before {
    background-size: 32px auto;
    top: 2px;
    width: 34px;
  }
}

@media screen and (min-width: 60em) {
  .aframe-wordmark:before {
    background-size: 36px auto;
    top: 1px;
    width: 38px;
  }
}

@media screen and (min-width: 30em) {
  [data-section~="oss"] [data-slug] a h3 + p {
    min-height: 5rem;
  }
}

@media screen and (max-width: 63.4em) and (min-width: 60em) {
  [data-section~="oss"] [data-slug] a h3 + p {
    min-height: 5rem;
  }
}

@media screen and (min-width: 38em) {
  [data-section~="oss"] [data-slug] a h3 + p {
    min-height: 3.5rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 32.35em) {
  [data-section~="oss"] [data-slug] a h3 + p {
    min-height: 6.5rem;
  }
}

@media screen and (min-width: 34.1em) and (max-width: 32.9em) {
  [data-section~="oss"] [data-slug] a h3 + p {
    min-height: 5rem;
  }
}

@media screen and (min-width: 63.5em) {
  [data-section~="oss"] [data-slug] a h3 + p {
    min-height: 5rem;
  }
}

@media screen and (min-width: 34.5em) and (max-width: 38em) {
  [data-section~="oss"] [data-slug] a h3 + p {
    min-height: 5rem;
  }
}
