/*
colors:
darkblue: #1f366c
lightblue: #86d6f8
cobalt: #292c38
salmon: #e14164
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #fff;
  height: 100%;
  width: 100%;
}

html {
  font-size: 14px;
}

body {
  font: 300 1rem/1.2 BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}

.code,
.tt,
code,
tt {
  font-family: Consolas, Courier New, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: #0c99d5;
  text-decoration: none;
  transition: .1s all ease-in-out;
}

/*
a:hover:not(.no-decoration) {
  text-decoration: underline;
}
*/

/*
ol,
ul {
  margin: 0 0 1.5rem 2rem;
}
*/

.copy--columns ol,
.copy--columns ul {
  margin-left: 0;
}

ul {
  list-style: none;
}

.bullets {
  list-style: disc;
}

.wrap > *:first-child {
  margin-top: 0;
}

.wrap > *:last-child {
  margin-bottom: 0;
}

.c:before,
.c:after {
  content: "";
  display: table;
}

.c:after {
  clear: both;
}

.hidden-text {
  display: block;
  text-indent: -9999px;
}

.highlight {
  background-color: rgba(0,0,0,.04);
  border-radius: 3px;
  font-size: 85%;
  padding: .2rem;
}

.display-none {
  display: none;
}

.copy--center {
  text-align: center;
}

.copy--uppercase {
  text-transform: uppercase;
}

.copy--bright {
  color: #fff;
}

.copy--big {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.copy--subtitle {
  font-size: 1.2rem;
}

.copy--bright .copy--subtitle {
  color: #a3bad5;
}

.section {
  padding: 1.5rem 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem;
}

.wrap--narrow {
  max-width: 780px;
}

/*
media queries
*/

/*
@media (max-width: 899px) {
  nav {
    display: none;
  }

  .flex--grid--item {
    flex-basis: 50%;
  }

  .link--blog {
    background: #e14164;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0 auto 1.5rem;
    padding: 0.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (max-width: 599px) {
  .developers__icon {
    margin-bottom: .75rem;
  }

  .showcase__link {
    margin: 0;
  }

  .flex--grid--item {
    flex-basis: 100%;
  }

  .wrap .wrap {
    padding: 1rem 0;
  }

  .wrap--narrow.copy--center {
    text-align: left;
  }
}
*/

.slogan {
  color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  /*font-size: 2rem;*/
  /*font-weight: 400;*/
  text-shadow: 1px 1px 2px #111;
}

.slogan-secondary {
  /*font-size: 1.2rem;*/
  letter-spacing: .05em;
  /*opacity: .5;*/
  /*padding-top: 1rem;*/
}

[data-section~="nav"] h1 {
  margin: 0;
}

[data-section] > div > h2 {
  /*border-top: .3rem solid rgba(0,0,0,.9);*/
  /*padding: 1.5rem 0 1.5rem;*/
}

[data-section~="oss"] [data-slug] a {
  background-color: #fff;
  background-size: 2.5rem auto;
  background-position: 100% 0;
  background-position: calc(100% - 1rem) calc(0% + 1rem);
  background-repeat: no-repeat;
  /*border: 1rem solid transparent;*/
  color: #333;
  display: block;
  font-weight: bold;
  min-height: 13.1rem;
  opacity: .9;
  text-decoration: none;
  width: 100%;
}

.lh-copy li {
  vertical-align: middle;
}

[data-section~="oss"] [data-slug="a-frame"] a {
  background-image: url(../img/aframe-sticker-diecut.svg);
  background-color: #ef2d5e;
  color: #fee;
}

[data-section~="oss"] [data-slug="firefox"] a {
  background-image: url(../img/firefox.png);
  background-color: #0095dd;
  color: #def;
}

[data-section~="oss"] [data-slug="servo"] a {
  background-image: url(../img/servo.png);
  background-color: #fed;
  color: #630;
}

[data-section~="oss"] ul a:hover {
  opacity: 1;
}

.logo {
  display: inline-block;
  /*margin-top: -1rem;*/
  position: relative;
  /*top: -1rem;*/
  /*padding-bottom: 1rem;*/
}

.mozilla-wordmark {
  background: url(../img/logo-mozilla-white.svg) 1rem 50% no-repeat;
  background-size: 80px auto;
  /*height: 100%;*/
  width: 92px;
  width: calc(92px + .75rem);
  /*opacity: .75;*/
  /*background-color: red;*/
  text-indent: -9999px;
}

.mozillavr-logo {
  background: url(../img/mozillavr-icon.svg) 0 50% no-repeat;
  /*background-size: 40px auto;*/
  /*filter: grayscale(1);*/

  background-size: 37px auto;
  /*padding-left: 1rem;*/
  /*background-color: pink;*/
  /*border: 1px solid #000;*/
  text-indent: -9999px;
  /*height: 70px;*/
  /*height: 100%;*/
  /*width: calc(40px + 1.5rem);*/
}

.mozilla {
  color: #fff;
}

.vr {
  color: cyan;
}

.hover-cyan:focus,
.hover-cyan:hover {
  color: cyan;
}

@media screen and (min-width: 30em) {
  .about-copy {
    /*padding: 2rem 0;*/
  }
}
